// ==============================
// Social
// =============================

// donot use social-links keyword,Otherwise it will be intercepted by Adblock. 
.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .iconfont {
    font-size: 3rem;
    

    & + .iconfont {
      margin-left: $social-link-margin-left;
    }

    &:hover {
      color: $theme-color;

      svg {
        fill: $theme-color;
      }
    }
  }
}
