// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  padding-left: 15px;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    color: #d63333;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
