.footer {
  padding: 20px 20px 20px 20px;
  flex-grow: 0;
  color: $dark-color-secondary;
  background: #191919;
  margin-top: 2rem;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: $light-color-secondary;

    svg {
      color: #fff;
      margin-left: 10px;
    }

    a {
      color: #fe5186;
    }

    @media #{$media-size-phone} {
      flex-direction: column;
      margin-top: 10px;
    }

    & > *:not(:last-child) {
      padding: 0 15px;

      @media #{$media-size-tablet} {
        border: none;
      }
    }

    & > *:last-child {
      padding: 0 15px;
    }
  }
}

#copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
