html {
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: .06em;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.54;
  background-color: $light-background;
  color: $light-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media #{$media-size-phone} {
    font-size: 1rem;
  }

  &.dark-theme {
    background-color: $dark-background;
    color: $dark-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  align-items: center;
  line-height: 1.3;
  
}

#title {
  font-family: $eng-font-main;
  font-weight: 300;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  margin-top: -1rem;
}

.intro {
  width: 50%;
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;

  a {
    color: #fe5186;
  }
  
}

.cyber {
  width: 100%;
  margin: 2rem auto 1rem auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  margin: 0 auto;
}

#gif {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}


// .cyber {
//   width: 100%;
//   margin: 0 auto;
// }

@media #{$media-size-tablet} {

  .intro {
    width: 70%;
  }
  
  .cyber {

    #gif {
    display: block;
    max-width: 70%;
    margin: 0 auto;
    }
  }
}

@media #{$media-size-phone} {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  .intro {
    width: 95%;
  }
  
  .cyber {

    #gif {
    display: block;
    width: 90vw;
    margin: 0 auto;
    
    }
  }


}



a {
  color: inherit;
  // font-family: $eng-font-main-p;
  text-decoration: none;
}




figure {
  display: table;
  max-width: 100%;
  margin: 0px auto 2rem auto;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: .8rem;
    margin-top: 0px;
    opacity: .8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-family: 'Anonymous Pro',monospace;
  font-feature-settings: normal;
  background: $light-background-secondary;
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .95rem;

  .dark-theme & {
    background: $dark-background-secondary;
  }
}

pre {
  background: #292929;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: .95rem;
  overflow: auto;
  

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;

    .dark-theme & {
      color: inherit;
    }
  }
}

blockquote {
  border-left: 2px solid;
  margin: 40px;
  padding: 10px 20px;

  @media #{$media-size-phone} {
    margin: 10px;
    padding: 10px;
  }

  &:before {
    content: '”';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

ul, ol {
  margin-left: 40px;
  padding: 0;

  @media #{$media-size-phone} {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;
  

  @media #{$media-size-phone} {
    margin-top: 0;
  }
}

hr {
  width: 100%;
  border: none;
  background: $light-border-color;
  height: 1px;

  .dark-theme & {
    background: $dark-border-color;
  }
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: normal;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

// social icon

.social {

  a:not(:first-child) {
    padding-left: 1rem;
  }
  
  a:hover{
    color:  #fe5168;
  }

}

// cyber source

.cyber-source {
  color: #444;
  font-size: .8rem;

}

li {
  font-family: $post-font;
}

ul {
  margin-bottom: 4rem;
}

hr {
  margin-bottom: 4rem;
}



