@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,600|Karla:400,700|Faster+One|Reem+Kufi|Anonymous+Pro');

/* light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-color: #222;
$light-color-secondary: #777;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #222;
$dark-background-secondary: #3b3d42;
$dark-color: #e2e2e2;
$dark-color-secondary: #67686b;
$dark-border-color: #4a4b50;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

// Font Vars

$eng-font-main: 'Faster One', sans serif;
$eng-font-main-p: 'Karla', sans serif;
$post-font: 'Bai Jamjuree', serif;

