// ==============================
// Post content
// ==============================

.post-content {
  word-wrap: break-word;

  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 600;
      font-family: $global-serif-font-family;
    }
  }

  h1 {
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
  }

  h2 {
    // font-size: 1.6em;
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
  }

  h3 {
    // font-size: 1.3em;
    margin-top: 1.5em;
  }

  a {
    color: $theme-color;
    word-break: break-all;

    &:hover {
      border-bottom: $content-link-border;
    }
  }

  iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  > table {
      border: none;
      width: 100%;

    td {
      background-color: #F0E4E4;
      border: 3px solid #FFF;
      padding: 5px 15px;
    }

    th {
      text-align: left;
      background-color: #A65B5B;
      color: #FFF;
      border: 3px solid #FFF;
      padding: 5px 15px;
    }
  }

  .post-summary {
    margin-bottom: 1em;
  }

  .read-more {
    text-align: right;

    .read-more-link {
      color: $theme-color;
      font-size: 1.1em;
      font-family: $global-serif-font-family;

      &:hover {
        border-bottom: $post-readMore-border-bottom;
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 0.25em;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-bottom-color: #b5b5b5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #b5b5b5;
    font-size: 0.8em;
    line-height: 1.25;
    font-family: "SFMono-Regular","Liberation Mono","Roboto Mono",Menlo,Monaco,Consolas,"Courier New",Courier,monospace;
    color: #4a4a4a;
  }

  dl dt::after {
    content: ':';
  }

  .task-list {
    list-style: none;
    padding-left: 1.5rem;
  }

  .MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
  }

  @import 'code';
  @import 'image';
  @import 'blockquote';
}

.header-link {
  margin-left: 0.5em;
  fill: currentColor;
  visibility: hidden;
}

.post-content-header:hover .header-link {
  visibility: visible;
}

