.post-copyright {
  padding: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #e1e1e1;
  border-left: solid 4px $theme-color;
  margin-top: 3em;
  font-size: .9rem;

  .copyright-item {
    margin: 5px 0;

    a {
      color: $theme-color;
      word-wrap: break-word;

      &:hover {
        border-bottom: $content-link-border;
      }
    }

    .item-title {
      display: inline-block;
      min-width: 5rem;
      margin-right: .5rem;
      text-align: right;
      font-weight: bold;

      &:after {
        content: " :";
      }
    }
  }
}
