<link rel="shortcut icon" href="/favicon.ico?v=kPP08pKEXB">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=kPP08pKEXB" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-96x96.png?v=kPP08pKEXB" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-194x194.png?v=kPP08pKEXB" sizes="194x194">
<!-- Icons: Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=kPP08pKEXB" sizes="192x192">
<!-- Icons: Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="RCC Rick Cogley Central">