<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span><span id="copyleft">&copy;</span> {{ now.Format "2006" }} -
                {{ if .Site.Author.name }}
                <a href="https://gitlab.com//peama">{{ .Site.Author.name }}</a>
                {{ end }}|
                <!-- ({{ .Site.Copyright| safeHTML }})</span> -->
                <!-- <span>{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} <a
                    href="{{ "posts/index.xml" | absURL }}" target="_blank" title="rss"><svg
                        xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-rss">
                        <path d="M4 11a9 9 0 0 1 9 9"></path>
                        <path d="M4 4a16 16 0 0 1 16 16"></path>
                        <circle cx="5" cy="19" r="1"></circle>
                    </svg></a>{{ end }}</span> -->
                <span>{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} <a
                        href="{{ "blog/index.xml" | absURL }}" target="_blank" title="rss"> RSS
                        Feed</a>{{ end }}</span>
        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">

        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">
            <span>Powered by <a href="http://gohugo.io">Hugo</a> and <a
                    href="https://themes.gohugo.io/hugo-theme-hello-friend-ng/">HFN Theme</a></span>
            <span>Source Code <a href="https://gitlab.com/peama/my-blog">Here</a></span>
        </div>
    </div>
</footer>