<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
        <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
        {{- end }}

    </ul>
</nav>