{{ define "main" }}
<main aria-role="main">

    <figure class="cyber">
        <img src="https://i.imgur.com/8mUuzCn.gif" alt="" id="gif">
        <figcaption class="center">
            <a href="https://www.reddit.com/r/gifs/comments/5xx5rx/8bit_cyberpunk/" class="cyber-source">source</a>
        </figcaption>
    </figure>

    <div>
        <h1 id="title">{{ .Site.Title }}</h1>


        <p class="intro">Welcome to the prison of freedom, I'm going to introduce you to my thoughts, probably radical
            or
            not. You can
            visit <a href="https://peamisp.info">my main site</a> to know more about me as a front-end guy.</p>

        <a href="/blog" class="post-btn">Read Blog</a>


        {{- with .Site.Params.social }}
        <div class="social">
            {{ partial "social-icons.html" . }}
        </div>

        {{- end }}

    </div>
</main>
{{ end }}